@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
:root{
    --primary-color:#8071F2,
    --secondary-color:#2020B2

}
body {
font-family: 'Times New Roman', Times, serif;
background-color: #DFDDDD;
}
.btn-primary{
    background-color: #2020B2;
    padding: 10px;
    color: #DFDDDD;
    font-weight: bold;
}
.text-primary{
     color: #8071F2;
}
.bg-primary{
     background-color: #8071F2;
}
.text-secondary{
     color: gold;
}
.text-inknut {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}
@import 'tailwindcss'
