
:root{
    --primary-color:#8071F2,
    --secondary-color:#2020B2

}
body {
font-family: 'Times New Roman', Times, serif;
background-color: #DFDDDD;
}
.btn-primary{
    background-color: #2020B2;
    padding: 10px;
    color: #DFDDDD;
    font-weight: bold;
}
.text-primary{
     color: #8071F2;
}
.bg-primary{
     background-color: #8071F2;
}
.text-secondary{
     color: gold;
}
@import 'tailwindcss'
